{% extends "base.html" %}

{% load bootstrap3 %}
{#{% load url from future %}#}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="view view-login">
        <div class="-inner-cont">
            <div class="-cont -loginFormCont">
                <img class="-logo" src="/static/dashboard/img/wantoo_logo_pink.svg" alt="" class="logo">
                 <h2 class="-title" style="margin-top:0">New password</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" class="form form-wantoo x-no-label" action=".">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-pinkfill" type="submit">Continue</button>
                {% endbuttons %}
            </form>
        {% else %}
            <p class="-text">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
            </div>
        </div>
    </div>
</div>
 
{% endblock %}
