{% extends "base_plain.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
	<div class="view view-login">
		<div class="-inner-cont">
			<div class="-cont _passwordResetFormCont _resetDone">
				<img style="width:180px;margin:0 auto;display:block;margin-bottom:40px" class="_logo" src="/static/dashboard/img/wantoo_logo_pink.svg" alt="" class="logo">
				{% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
			    <p class="-text" style="text-align:center">An email has been sent with further instructions.</p>
    			<p class="-subtext" style="text-align:center">You may need to check your spam folder<br>or unblock hello@wantoo.io.</p>
			</div>
		</div>
	</div>

{% endblock %}
