{% extends "base_plain.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load account %}
{#{% load url from future %}#}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="view view-login">
    <div class="-inner-cont">
      <div class="-cont -loginFormCont">
         {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <img class="-logo" src="/static/dashboard/img/wantoo_logo_pink.svg" alt="" class="logo">
          <p class="-title">Reset password</p>
          <form method="POST" action="{% url 'account_reset_password' %}" class="form form-wantoo x-no-label x-cta-centred">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="form-group">
                <button class="btn-fill-primary btn-pinkfill _trackButtonEvent" type="submit" data-label="Reset - password reset page">Reset</button>
              </div>
          </form>
      </div>
    </div>
  </div>


{% endblock %}