{% extends "base.html" %}

{#{% load url from future %}#}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}



{% block content %}
<div class="container">
    <div class="view view-login">
        <div class="-inner-cont">
            <div class="-cont -loginFormCont">
                <img class="-logo" src="/static/dashboard/img/wantoo_logo_pink.svg" alt="" class="logo">
                <h2 class="-title">Change Password</h2>
                <p class="-text" style="text-align:center;">Your password is now changed.</p>
                <a href="/accounts/login/?next=/dashboard/" style="display:block;width:100%;text-align:center;color:#e94095;text-decoration:underline">Login here</a>
            </div>
        </div>
    </div>
</div>            

{% endblock %}
