/* ALL FONT CLASSES-
t-link__nav
t-button__nav
t-title__page
t-subtitle__page
t-title__anchor
t-quote__carousel
t-author__carousel
t-title__section
t-quote__hero
t-subtitle__section
t-cta__section
t-tag__feature
t-title__feature
t-subtitle__feature
t-subtitle__intergration
t-title__highlight
t-subtitle__highlight
	t-tag__pricing
	t-title__pricing
	t-commitment__pricing
	t-subtitle__pricing
	t-item__pricing
t-title__paper
t-subtitle__paper
t-button__paper
	t-item__footer
	t-note__privacy
*/
//Media query definitions
max-mobile-screen = 767px

//Fonts
primaryFont = 'Open Sans', sans-serif

.plan_feature_list
	color #676767
	font-weight normal
	font-size 14px
	text-align left
	line-height 30px

.hidden
	visibility hidden

html, body
	width 100%
	height 100%

h1, h2, h3, h4, h5, h6, a, p, ul, span, form, button
	font-family primaryFont

h1
	font-weight 100
	text-transform capitalize
	text-align center

h2
	font-weight 100
	text-align center

a
	color brandPrimary
	text-decoration underline

.clearfix
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

// Font sizing
// phone devices
@media screen and (max-width: 767px)
	.t-link__nav
		font-size 16px
	.t-button__nav
		font-size 12px

	.t-title__page
		font-size 42px
	.t-subtitle__page
		font-size 18px

	.t-title__anchor
		font-size 12px

	.t-title__section
		font-size 28px
	.t-subtitle__section
		font-size 16px

	.t-cta__section
		font-size 14px

	.t-quote__carousel
		font-size 18px
	.t-author__carousel
		font-size 12px

	.t-quote__hero
		font-size 24px

	.t-tag__feature
		font-size 12px
	.t-title__feature
		font-size 32px
	.t-subtitle__feature
		font-size 16px
	.t-subtitle__integrations
		font-size 16px

	.t-title__highlight
		font-size 28px
	.t-subtitle__highlight
		font-size 16px

	.t-title__header
		font-size 34px

	.t-title__paper
		font-size 24px
	.t-item__paper
		font-size 12px
	.t-button__paper
		font-size 14px

// Small devices (tablets, 768px and up)
@media screen and (min-width: 768px)
	.t-link__nav
		font-size 16px
	.t-button__nav
		font-size 12px

	.t-title__page
		font-size 42px
	.t-subtitle__page
		font-size 18px

	.t-title__anchor
		font-size 12px

	.t-title__section
		font-size 26px
	.t-subtitle__section
		font-size 16px

	.t-cta__section
		font-size 14px

	.t-quote__carousel
		font-size 18px
	.t-author__carousel
		font-size 12px

	.t-quote__hero
		font-size 26px

	.t-tag__feature
		font-size 12px
	.t-title__feature
		font-size 34px
	.t-subtitle__feature
		font-size 16px
	.t-subtitle__integrations
		font-size 16px

	.t-title__highlight
		font-size 30px
	.t-subtitle__highlight
		font-size 16px

	.t-title__header
		font-size 36px

	.t-title__paper
		font-size 18px
	.t-item__paper
		font-size 12px
	.t-button__paper
		font-size 14px

	.t-hidden
		display none


// Medium devices (desktops, 992px and up)
@media screen and (min-width: 992px)
	.t-link__nav
		font-size 16px
	.t-button__nav
		font-size 12px

	.t-title__page
		font-size 52px
	.t-subtitle__page
		font-size 18px

	.t-title__anchor
		font-size 12px

	.t-title__section
		font-size 32px
	.t-subtitle__section
		font-size 18px

	.t-cta__section
		font-size 16px

	.t-quote__carousel
		font-size 21px
	.t-author__carousel
		font-size 14px

	.t-quote__hero
		font-size 28px

	.t-tag__feature
		font-size 14px
	.t-title__feature
		font-size 38px
	.t-subtitle__feature
		font-size 16px
	.t-subtitle__integrations
		font-size 16px

	.t-title__highlight
		font-size 32px
	.t-subtitle__highlight
		font-size 18px

	.t-title__header
		font-size 40px

	.t-title__paper
		font-size 20px
	.t-item__paper
		font-size 14px
	.t-button__paper
		font-size 16px

// Large devices (large desktops, 1500px and up)
@media screen and (min-width: 1500px)
	.t-link__nav
		font-size 16px
	.t-button__nav
		font-size 12px

	.t-title__page
		font-size 52px
	.t-subtitle__page
		font-size 18px

	.t-title__anchor
		font-size 14px

	.t-title__section
		font-size 34px
	.t-subtitle__section
		font-size 20px

	.t-cta__section
		font-size 18px

	.t-quote__carousel
		font-size 21px
	.t-author__carousel
		font-size 14px

	.t-quote__hero
		font-size 34px

	.t-tag__feature
		font-size 16px
	.t-title__feature
		font-size 40px
	.t-subtitle__feature
		font-size 18px
	.t-subtitle__integrations
		font-size 18px

	.t-title__highlight
		font-size 32px
	.t-subtitle__highlight
		font-size 18px

	.t-title__header
		font-size 42px

	.t-title__paper
		font-size 26px
	.t-item__paper
		font-size 16px
	.t-button__paper
		font-size 18px
