<p>
Forgot your password? It happens to the best of us. Not to worry, we're here to help!
</p>
<p>
Simply click on the button to set a new password:
</p>
<p><br/>
    <a style="background-color:#DC2682; color:#fff; padding-top: 10px; padding-bottom: 10px; padding-left:25px; padding-right:25px; font-size: 18px; text-decoration:none;" href="{{ password_reset_url }}">Reset password</a>
    <br/><br/>
</p>
<p>
    If you didn't ask to reset your password, don't worry! Your password is still safe and you can delete this email.
</p>