.m-advisor
	min-height 455px
	position relative
	width 100%
	
	.m-advisor__pic
		width 100%
	
	.m-advisor__name
		font-size 22px
		margin 10px 0 8px
	
	.m-advisor__role
		color #676767
		font-size 16px		
		margin 0
	
	.m-advisor__social
		bottom 0
		left 0
		position absolute

@media screen and (max-width: 650px)
	.m-advisor
		min-height 465px			
	
		