lesscss-percentage(n)
  (n * 100)%
.m-appDirectory
  .m-appDirectory__title
    margin-bottom 32px
  .m-appDirectory__blurb
    color grey
    font-weight 200
    font-size 18px
    line-height 35px
    margin 0 auto 65px
    max-width 853px
    text-align center
