lesscss-percentage(n)
  (n * 100)%
.m-appItem
  background-color #f9f9f9
  border 1px solid #e1e1e1
  border-radius 2px
  height 275px
  padding 0 8%
  width 84%
  .m-appItem__companyLogo
    display block
    margin 52px auto 60px
  .m-appItem__blurb
    color grey
    font-size 16px
    margin 0
    text-align center
