lesscss-percentage(n)
  (n * 100)%
.m-blockQuote
  padding 180px 10%
  width 80%
  .m-blockQuote__quote
    color #fff
    font-weight 100
    line-height 1.6em
    margin auto
    max-width 1065px
    text-align center
  .m-blockQuote__author
    color #fff
    font-weight 600
    margin 60px auto 0 auto
    max-width 853px
    text-align center

@media screen and (max-width: max-mobile-screen)
  .m-blockQuote
    padding 120px 5%
    width 90%
