lesscss-percentage(n)
  (n * 100)%
.m-carouselItem
  padding 60px 3%
  width 94%
  height 75px
  .m-carouselItem__quote
    color #fff
    font-weight 600
    line-height 1.6em
    margin auto
    text-align center
    vertical-align: middle
  .m-carouselItem__author
    color #fff
    font-weight 300
    margin 20px auto 0 auto
    max-width 853px
    text-align center
    text-transform uppercase
@media screen and (max-width: max-mobile-screen)
  .m-carouselItem
    padding 30px 3%
    height 120px
