.m-careerPro
	background-repeat no-repeat
	background-position center 0
	padding-top 117px
	width 100%
	
	&.m-careerPro--heart
		background-image url('/static/landingpage/img/icon_heart.png');
		background-size 80px
	
	&.m-careerPro--pencil
		background-image url('/static/landingpage/img/icon_pencil.png');
		background-size 75px
	
	&.m-careerPro--beaker
		background-image url('/static/landingpage/img/icon_beaker.png');
		background-size 70px	
	
	.m-careerPro__title
		font-size 18px
		font-weight 600
		margin 0 0 10px
		
	.m-careerPro__blurb
		color #676767
		font-size 18px
		line-height 32px
		margin 0	
		