.m-careersIntro
	.m-careersIntro__title
		font-size 45px
		margin-top 50px
		text-align center
		text-transform none
		
	.m-careersIntro__blurb
		font-size	22px
		font-weight 600
		text-align center
		line-height 40px
		max-width 908px
		margin 0 auto 123px
		
		