.m-careerOpening
	background-color #f9f9f9
	background-repeat no-repeat
	background-position center 28px
	border 1px solid #e1e1e1
	padding 114px 7% 28px
	min-height 424px
	width 86%
	
	&.m-careerOpening--terminal
		background-image url('/static/landingpage/img/icon_terminal.png')
		background-size 80px
	
	&.m-careerOpening--origami
		background-image url('/static/landingpage/img/icon_origami.png')
		background-size 93px
	
	&.m-careerOpening--telescope
		background-image url('/static/landingpage/img/icon_telescope.png')
		background-size 76px
		
	&.m-careerOpening--planet
		background-image url('/static/landingpage/img/icon_planet.png')
		background-size 74px			
	
	.m-careerOpening__title
		font-size 22px
		font-weight 600
		margin-bottom 30px
		text-align center
	
	.m-careerOpening__blurb
		color #676767
		font-size 15px
		line-height 33px
			
		
		