lesscss-percentage(n)
  (n * 100)%
.m-caseStudy
  background-color #fff
  padding 50px 10%
  min-height 497px
  width 80%
  .m-caseStudy__companyLogo
    display block
    margin 0 auto
  .m-caseStudy__blurb
    font-weight 200
    font-size 23px
    line-height 48px
    margin 34px 0 50px
  .m-caseStudy__link
    color brandPrimary
    display inline-block
    font-weight 600
    font-size 16px
    text-align center
    text-transform uppercase
    width 100%
