lesscss-percentage(n)
  (n * 100)%
.m-highlightItem
  width 100%
  .m-highlightItem__title
    margin 20px 0
    text-align left
    font-weight 600
  .m-highlightItem__blurb
    color brown
    font-weight 100
    line-height 1.7em
    margin 0
