lesscss-percentage(n)
  (n * 100)%
.m-mainButton
  position absolute
  bottom 60px //was30
  left 50%
  width 45px
  margin-left -22.5px
  text-align center
  .m-mainButton__image
    width 100%
    height 75%
@media screen and (max-width: 800px), (max-height: 600px)
  .m-mainButton
    display none