lesscss-percentage(n)
  (n * 100)%

.m-peopleBlock
  min-height 330px

  .m-peopleBlock__imageWrap
    margin 0 auto
    width 70%
    .m-peopleBlock__image
      width 100%
      height auto
      border-radius 50%

  .m-peopleBlock__textContainer
    padding 0px 20px
    .m-peopleBlock__mainTitle
      color white
      font-size 16px
      font-weight bold
      text-align center
    .m-peopleBlock__mainText
      color white
      font-size 14px
      text-align center
      font-weight lighter
      min-height 60px
          

@media screen and (max-width: max-mobile-screen)
  .m-peopleBlock
    .m-peopleBlock__imageWrap
      width 50%
    .m-peopleBlock__textContainer
      padding 10px 20px
      width 50%
      margin 0 auto
