lesscss-percentage(n)
  (n * 100)%
.m-signupForm
  margin 0
  .m-signupForm__title
    margin 0
    padding 20px 0 10px 0
    color brown
    font-size 21px
    font-weight 600
    text-align center
    text-transform uppercase
  .m-signupForm__subtitle
    color brown
    font-size 16px
    font-weight 200
    margin-bottom 45px
    text-align center
  .plan_title
    position relative
    right:3.1%
  .glyphicon_image
    width 20px
    position relative
    bottom 2px
  .optional
    color #C0C0C0
    font-weight normal
  .plan_submit_button
    position relative
    right 4.1%
  .m-signupForm__form
    margin 0 auto
    max-width 358px
    width 100%
    .m-signupForm__group,
    .form-group
      margin 10px 0 0 0
      .control-label
        display none
      .m-signupForm__input,
      .form-control
        font-size 14px
        margin 5px 0
        padding 10px 4%
        border 1px solid grey
        border-radius 5px
        width 92%
        background white
      &.m-signupForm__checkbox,
      .checkbox
        font-size 12px
        text-align left
        margin 0 0
        padding-left 0
        color grey
    .form-group
      margin-top 20px
    .help-block
      font-size 12px
      color red
      margin-left 20px
    .m-signupForm__response
      margin 10px 0
      color brown
    .m-signupForm__submit
      margin 10px auto
      display block
    .getStarted
      padding: 15px 70px
      &:disabled
        background grey

  .m-signupForm__required
    color brown
    font-size 10px
    text-align center
    margin-top 38px
  .plan_details
    font-size 13px
  .payment_form_bottom_space
    padding-bottom 6%

