.m-smallSocialList
	margin 0
	padding 0
	list-style none
		
	.m-smallSocialList__item
		float left
		text-decoration none
		
		&:first-child
			margin-right 13px
		
		&.m-smallSocialList__item--medium
			a
				img
					margin-top 4px	
					margin-left 12px
		
		&.m-smallSocialList__item--twitter
			a
				img
					margin-top 3px
			
		a
			display block
			width 22px
			
			img
				width 100%	