lesscss-percentage(n)
  (n * 100)%
.m-valuePropItem
  width 100%
  .m-valuePropItem__title
    font-weight 600
    font-size 16px
    margin 0 0 10px 0
  .m-valuePropItem__blurb
    color grey
    font-size 16px
    line-height 30px
    margin 0
