.l-careerPros
	@extend .clearfix
	
	.l-careerPros__col
		float left
		margin-left 9.5%
		width 27%
		
		&:first-child
			margin-left 0

@media screen and (max-width: 850px)			
	.l-careerPros
		margin 0 auto
		max-width 450px
		width 100%	
					
		.l-careerPros__col
			float left
			margin 0 0 50px
			text-align center
			width 100%		
						