.l-careerOpenings
	margin 0 auto
	max-width 1035px
	width 100%
	
	.l-careerOpenings__row
		@extend .clearfix
		margin-bottom 30px
		width 100%
		
		.l-careerOpenings__col
			float left
			margin-left 4%
			width 48%	
			
			&:first-child
				margin-left 0

@media screen and (max-width: 850px)			
	.l-careerOpenings
		margin 0 auto
		max-width 450px
		width 100%	
		
		.l-careerOpenings__row
			margin 0
			
			.l-careerOpenings__col
				float left
				margin 0 0 30px
				width 100%				