.comp-activity
	.-activity-cont
		.-activity-item
			clearfix()
			width 90%
			display flex
			margin-bottom 12px
			
			.-left-col
				flex 0 0 33px
				margin-right 18px
				
				.-profile-pic
					width 100%
					display block
					border-radius 50%
					border 1px solid #a7a7a7
					margin-top 2px
					z-index 1001
			
			.-right-col
				.-message
					font-size 16px
					margin-bottom 5px
					
					a
						text-decoration none
					
				.-time
					color #959595
					font-size 14px	