.banner 
	clearfix()
	background highlightPrimary
	display none
	margin 0	
	padding 20px 0
	width 100%

	.banner__content
		padding 0 2%
		max-width 1200px
		margin 0 auto
		padding 0 2%

		p
			color white
			font-size 15px
			float left
			margin 0

			span
				font-weight bold

		.banner__join
			color white
			font-size 18px
			float right
			text-decoration underline
			text-transform uppercase

		.banner__close
			background none
			border none
			float right
			margin-left 55px
			outline none
			padding 0
			width 13px

			img
				width 100%

