.comp-contMain
	height 100%
	width 100%
	max-width 850px
	margin 0 auto
	padding 80px 3% 0

.private_container
    margin 0 auto
	max-width 369px
	padding 100px 0 100px 0
	position relative

.private_login_form
	width 100%
    margin 0 auto
	position relative


.private_logo
	width 70%
	position relative
	left 24px

.board_status
	position relative
	text-align center
	margin 0 auto 15%

.signup_board_status
	position relative
	float left
	left 39.4%
	padding-bottom 4%

.notice_container
	position relative
	right 7.6%

.signup_notice_container
	position relative
	right 7.6%

.private_notice_weight
	position relative
	font-weight 600

.login_to_access
	position relative
	font-weight 500
	left 21%

.private_email
	position relative
	margin 0 auto
	display block

.signup_email_id
	position relative


.private_forgot_password
	position relative
	float right
	bottom 25px

.private_submit_button
	padding 4% 30% 13%
	position relative
	margin 0 auto
	display block

.signup_submit_button
	padding 4% 30% 13%
	position relative
	margin 0 auto
	display block

.join_button_position
	position relative
	margin 0 auto
	display block

.email_error
	position relative
	color red
	margin 5% auto 0
	text-align center
.wantoo_color
	color #E94095

.create_board
	position relative
	margin 0 auto
	display block
	text-align center

.signup_create_board
	position relative
	margin 0 auto
	display block
	text-align center

.button_width
	width 67%

.main_container
	max-width 1080px

.horizantal_width
	width 990px

.comp-contMain--large
	@extend .comp-contMain
	max-width 1050px

.setting_container
	height: 100%
	width: 100%
	max-width: 100%
	margin: 0 auto
	padding: 80px 3% 0

.setting_view
	width: 80%
	margin:0 auto

.setting_form_width
	width: 100%

.setting_width
	width: 85%

.close_board
	float right
	margin-top 40px
	position relative
	left 13px

.trello_button
	opacity: 0.4
	width: 15%
	float: right
	display: block
	position: relative

.jira_button
	opacity: 0.4
	width: 15%
	float: right
	display: block
	position: relative
	padding-bottom: 15px

