.comp-detailSidebar
	
	p
		font-size 14px
			
	p, a
		color #a3a3a3
		
	a:hover
		text-decoration none	

	.comp-detailSidebar__title
		font-size 14px
		font-weight bold
		margin-top 28px
		
		&:first-child
			margin-top 0
	
	.comp-detailSidebar__social
		clearfix()
		margin 0
		padding 0
		list-style none
		width 100%
		
		li
			float left
			margin-right 9px
			width 24px
			
			a
				display block
				width 100%
				
				img
					width 100%	
	
	.comp-detailSidebar__author				
		img
			border-radius 50%
			border 1px solid #a7a7a7
			width 26px
			margin-right 5px			
	
	.comp-detailSidebar__status-badge
		color #fff
		border-radius 10px
		padding 0 12px
		font-size 8px
		text-transform uppercase
		line-height 19px
		display inline-block
	
	.comp-detailSidebar__related-ideas
		margin 0
		padding 0
		list-style none	
		
		li
			margin-bottom 15px
			
	.comp-detailSidebar__supporters
		.comp-detailSidebar__supporters__supporter
			display inline-block	
			
			img
				margin 0 5px 7px 0
				border-radius 50%
				border 1px solid #a7a7a7
				width 26px