.dropdownMenu
  margin 0
  padding 0
  list-style none
  padding 10px 0
  position absolute
  right 0
  left auto

  li
    width 100%
    text-align left

    &.active
      a
        color highlightPrimary

    a
      /* override bootstrap */
      background transparent !important
      color #000

      &:hover
        background #f5f5f5 !important