.searchBar
	background-image url('/static/dashboard/img/icons/search_header.svg')
	background-position 0 center
	background-repeat no-repeat
	background-size 25px
	padding-left 40px
	height 100%
	width 250px

	.searchBar__input
		border none
		font-size 14px
		font-weight normal
		height 100%
		outline none
		width 100%

		&:active
			border none