.m-softLiveSearch
	margin-top 20px
	width 100%
	
	&.m-softLiveSearch--hidden
		display none
	
	.m-softLiveSearch__blurb
		color #b0afaf
		font-size 16px
		font-weight 600
		margin-bottom 12px

	.m-softLiveSearch__result
		color #000
		display block
		font-size 18px
		font-weight 600
		margin-bottom 12px