.comp-statsTable
	width 100%
	
	.comp-statsTable__stat
		background-image url('/static/dashboard/img/bg_dotted_line.png')
		background-repeat repeat-x
		background-position 0 49%
		float left
		width 100%
		
		.comp-statsTable__description, .comp-statsTable__number
			background #fff
			font-size 20px
			font-weight 600
			text-transform uppercase
		
		.comp-statsTable__description
			float left
			padding-right 10px
			
		.comp-statsTable__number
			float right	
			padding-left 10px
