.view
	&.view-error
		position absolute
		height 100%
		display flex
		align-items center
		.view-error__error-cont
			width 100%
			
		.view-error__code
			font-size 150px
			text-align center
			
		.view-error__code-description
			font-size 30px
			text-align center	
		
		.view-error__msg
			font-size 18px
			text-align center	