.view-invite
	padding-top 50px

	.invite-title
		text-align center

	.invite__header-imageWrapper
		.invite__header-image
			width 90%
			position relative
			left 50%
			transform translateX(-50%)
			max-width 500px

	.invite__content_wrapper
		padding-top 15px

	.invite_form
		max-width: 100%
		padding-top: 2.2%

	.invite_email
		font-size: 14px
		margin-bottom: 12px
		margin-top: 5px

	.invite_edit_message
		font-size: 14px
		margin-top: 5px
		height: auto
		min-height:	7vw
		padding: 0.5vw
		overflow: auto
		resize: both
	.invite_email_error
		position relative
		float left
		color red

	.invite_font_block
		font-family proxima-nova, light

		.invite__content_inner
			.invite__body
				text-align center
				font-size 16px
				margin 20px 0

			.invite__textarea
				width 90%
				border-radius 0px
				min-height 45px
				border 1px solid #e1e1e1
				font-size 18px
				padding 15px 15px
				max-width 450px
				margin 0 auto
				position relative
				left 50%
				transform translateX(-50%)
				resize none

				&:focus 
					outline none !important
					border-color #719ECE
					box-shadow 0 0 10px #719ECE

			.invite_message
				position: relative
				float: left
				display block
				width 80%
				margin 0 auto
				max-width 450px
				color red

			.invite__button
				margin 30px auto
			
			.invite_cta 
				font-size 1.7rem
				font-weight bold
				text-decoration none
				text-align center
