.view-main
	.-idea-count
		font-size 16px
		color #a2a2a2
		margin 15px 0 0 0 

@media (max-width: 650px)
	.view-main
		.-idea-count
			font-size 15px
			
		.comp-filterBar
			.-cat-title
				width 100%
				
			.btn-dropdown
				float left
				
				.dropdown-menu
					left 0
					right auto	
				
				.-custom
					&:first-child
						margin-left 0
						margin-right 12px