.view-manageMembers
	padding-top 50px

.manage_member
	padding-left 16px
	padding-right 10px

	.dataTables_wrapper .dataTables_filter
		//margin-top 0
		//margin-bottom 20px
		display none
	
	.-member-name
		a
			color #000
			text-decoration none
	.export_members
		position:absolute
		top:266px
		left: 261px

	.board_owner
		position:relative
		color: #a7a7a7

	.setting_font_block
		font-family proxima-nova,light

	.setting_member
		position:relative
		color: #a7a7a7

	.member_invite
		position:relative
		color: grey

	.pending_invite_email
		bottom: 18px
		width: 80%

	.member_status
		position:relative
		left:59px