.view-manageIdeas
	background #fff
	padding-top 50px
	
	.-import, .-export
		float right
		margin-top 22px
		
	.-import
		margin-left 20px	
	
	.-filter
		float left
		
		&:first-child
			margin-right 20px
	
	.dataTables_wrapper
		.row
			.col-sm-6:first-child
				display none
				
		.dataTables_length
			display none
		
		.dataTables_filter	
			//float left
			//margin-left 18px
			//color white
			//margin-top 30px
			display none
			
			input
				height 20px
				width 250px
				float left
				margin-left 0
				
				
	
	.comp-manageTable			
		margin-top 20px
		
@media (max-width: 650px)		
	.-import, .-export
		display none