placeholder(color, fw)
	&::-webkit-input-placeholder
		color color
		font-weight fw
		
	&:-moz-placeholder
		color color
		font-weight fw

	&::-moz-placeholder
		color color
		font-weight fw

	&:-ms-input-placeholder
		color color
		font-weight fw