Hi, {{ full_name }}!

<p>It’s time to start gathering great ideas from your customers and turn them into wins for your organization.</p>

<p>Here’s your Idea Board’s custom URL - {{ author_url }}</p>

<p>As you get the ball rolling, have a look at our <a href="https://wantoo.zendesk.com/hc/en-us/articles/216243017-Getting-Started-with-Wantoo">Getting Started Guide</a>, as well some <a href="https://wantoo.zendesk.com/hc/en-us/articles/218727098-Wantoo-Idea-Gathering-Campaign-Checklist">Pro Tips</a> to help you get the most out of your customer engagement journey.</p>

<p>If you find yourself needing to explain the process to your customers or audience, we’ve got you covered with this, <a href="https://wantoo.zendesk.com/hc/en-us/articles/209050037-Voting-for-Ideas-on-Wantoo-How-Does-It-Work-">explainer page</a>. We even have some <a href="https://wantoo.zendesk.com/hc/en-us/articles/219153777-Wantoo-Messaging-Templates">sample text</a> to help you get started in reaching out. If you run into any roadblocks, you can check out our <a href="https://wantoo.zendesk.com/hc/en-us/articles/208728557-FAQs">FAQ</a> or just <a href="https://wantoo.zendesk.com/hc/en-us/articles/208037848-contact-details">ask us</a>. Good luck… we know you’ll do great!</p>

<br/>

<p>~  Wantoo Success Team</p>
