{{ full_name }},

<p>You've joined <a href="https://wantoo.io/{{ board }}/">{{ company }} Idea Board</a>, powered by Wantoo.</p>

<p>In case you get stuck or have questions, here are some <a href="https://wantoo.zendesk.com/hc/en-us/articles/223147128-Wantoo-Pro-Tips-for-Board-Members">pro tips</a>.</p>

<p>Working on a project of your own? You can <a href="https://wantoo.io/">create your own board.</a>

<br/>

<p>— The Wantoo team.</p><br/>
<hr/>
<p>
<small>
This message was sent to {{ email }}.<br/><br/>
If you have trouble clicking the button above, copy and paste the URL below in your web browser:<br/>
https://wantoo.io/{{ board }}/ideas
</small>
</p>