{% load render_bundle from webpack_loader %}
{% load mytags %}
{% get_user_hash as user_hash %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="uft-8">
	<title>{{ company.title|default:'wantoo' }}</title>
	<link rel="icon" type="image/png" sizes="192x192"  href="/static/landingpage/img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/landingpage/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/landingpage/img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/landingpage/img/favicons/favicon-16x16.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://use.typekit.net/tzy0vji.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	{% render_bundle 'dashboard' %} 

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<script>
	window.userInfo = {};
	</script>
	
    {% block inside_head %}
    {% endblock inside_head %}
    
</head>
<body>
	{% block content %}
	
  	{% endblock content %}

  	<script src="/static/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
	<script>
		//loop for multiple forms on page
		$('.form-validate').each(function(index, form){
			$(form).validate({ errorPlacement: function(error, element) {} });
		});

		$('.form-validate').on('keyup', function(){
			var self = this;
			console.log($(this).valid());

			//if valid, enalbed button. If not valid keep button disabled
			if($(this).valid()) {
				console.log("here");
				console.log($(self).find('button[type="submit"]'));
				$(self).find('button[type="submit"]').prop('disabled', false);
			} else {
				if(!$(self).find('button[type="submit"]').prop('disabled')) {
					$(self).find('button[type="submit"]').prop('disabled', true);
				}
			}
		});

		$('.form-validate').on('change', function(){
			var self = this;
			console.log($(this).valid());

			//if valid, enalbed button. If not valid keep button disabled
			if($(this).valid()) {
				console.log("here");
				console.log($(self).find('button[type="submit"]'));
				$(self).find('button[type="submit"]').prop('disabled', false);
			} else {
				if(!$(self).find('button[type="submit"]').prop('disabled')) {
					$(self).find('button[type="submit"]').prop('disabled', true);
				}
			}
		});
	</script>

	<!--MixPanel START -->
	{% include 'partials/_mixpanel.html' %}
	<!--MixPanel END -->

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-59179808-6', 'auto');
	ga('send', 'pageview');
	</script>

	    <!-- Intercom Snippet -->
	    <script>
	      window.intercomSettings = {
	        app_id: "{{ intercom_app_id }}",
	        name: "{{ request.user.first_name }} {{ request.user.last_name }}", // Full name
	        email: "{{ request.user.email }}", // Email address
	        created_at: "{{ request.user.date_joined|date:"U" }}",// Signup date as a Unix timestamp
            user_hash: "{{ user_hash }}"
	      };
	    </script>
	    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/{{ intercom_app_id }}';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
	    <!-- End Intercom Snippet -->

	    <!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');

		fbq('init', '840263572738436');
		fbq('track', "PageView");</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=840263572738436&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->

</body>
</html>