{% extends "landing/base.html" %}

{% block content %}

<section class="l-section l-section--white l-section--careersIntro">
	<div class="l-section__inner l-section__inner--nomarg l-section__gutter">
		<div class="m-careersIntro">
			<h2 class="m-careersIntro__title">Great products begin with great people</h2>
			<p class="m-careersIntro__blurb">We place a high value on the quality of our products and the process of making them. We truly love making things, and we consistently set a higher bar.</p>

			<div class="l-careerPros">
				<div class="l-careerPros__col">
					<div class="m-careerPro m-careerPro--pencil">
						<p class="m-careerPro__title">Well-rounded and collaborative</p>
						<p class="m-careerPro__blurb">
							We create products where art and science meet, so breadth is as crucial as depth. Functionality and beauty both matter, so the ability to work across disciplines is important.
						</p>
					</div>
				</div>
				<div class="l-careerPros__col">
					<div class="m-careerPro m-careerPro--heart">
						<p class="m-careerPro__title">Respectful and welcoming</p>
						<p class="m-careerPro__blurb">
							Creativity flourishes in open, accepting environments. Respect and kindness towards team members and customers alike is an absolute must.
						</p>
					</div>
				</div>
				<div class="l-careerPros__col">
					<div class="m-careerPro m-careerPro--beaker">
						<p class="m-careerPro__title">Experimental and bold</p>
						<p class="m-careerPro__blurb">
							We take risks, and we have zero fear of failure. We embrace innovative technology and new ways of thinking.  We approach problems from every angle.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="l-section l-section--white l-section--careerOpenings">
	<div class="l-section__inner">
		<div class="m-careerOpenings">
			<h3 class="m-careerOpenings__title">Career Openings</h3>
			<div class="l-careerOpenings">
				<div class="l-careerOpenings__row">
					<div class="l-careerOpenings__col">
						<div class="m-careerOpening m-careerOpening--terminal">
							<p class="m-careerOpening__title">Software Engineers</p>
							<p class="m-careerOpening__blurb">Contribute to the development of a suite of apps that are redefining what it means to create on mobile. Work in a highly cross-discipline environment where design, product, and engineering teams come together with a common goal of creating the best possible user experience. Above all, be a design-minded engineer with a love for the craft of coding.</p>
						</div>
					</div>
					<div class="l-careerOpenings__col">
						<div class="m-careerOpening m-careerOpening--origami">
							<p class="m-careerOpening__title">Brand Designers</p>
							<p class="m-careerOpening__blurb">We are looking for an original thinker and visual craftsperson—someone who cares deeply about the work they do with a driving curiosity to explore new things. You should have a strong understanding of core visual design principles, deep knowledge of designing for the web, an intuition for great experiences, a strong sense of brand storytelling, and the ability to connect with an audience. This position is for an experienced, senior-level designer. Please send a portfolio of your recent work.</p>
						</div>
					</div>
				</div>
				<div class="l-careerOpenings__row">
					<div class="l-careerOpenings__col">
						<div class="m-careerOpening m-careerOpening--telescope">
							<p class="m-careerOpening__title">Product Designers</p>
							<p class="m-careerOpening__blurb">We are looking for someone to envision and build the next generation of creative tools. You should be able to pull together insights, design systems, create powerful experiences, use motion and visual design, and tell stories through products that bridge app, web, services, and hardware. You must be able to simplify the complex, bring beauty to the mundane, and build meaningful experiences for millions of creators around the world. This position is for an experienced, senior-level designer. Please send a portfolio of your recent work.</p>
						</div>
					</div>
					<div class="l-careerOpenings__col">
						<div class="m-careerOpening m-careerOpening--planet">
							<p class="m-careerOpening__title">Internships</p>
							<p class="m-careerOpening__blurb">The wantoo internship is a new program that pairs exceptional students and recent graduates directly with wantoo’s app development and design team to participate in a challenging, maker-focused environment. wantoo interns will get hands on experience helping to envision and create the next generation of wantoo’s products. We’re looking primarily for current students and recent graduates in computer science and visual or interaction design.</p>
						</div>
					</div>
				</div>
			</div>
			<p class="m-careerOpenings__blurb">If the above sounds like you, or if you think you’d be a great addition to our team nonetheless, send us a note at <a href="mailto:careers@wantoo.io">careers@wantoo.io</a>.<br>We look forward to hearing from you.</p>
		</div>
	</div>
</section>

{% endblock content %}
