{% extends "landing/base.html" %}

{% block content %}


<section class="l-section l-section--white">
	<div class="l-section__inner l-section__gutter">
		<h2 style="text-align:left;margin-top:80px;">Privacy Policy</h2>

		<p>This Privacy Policy sets out the privacy policies and practices for WANTOO NETWORKS INCORPORATED ("Wantoo") with respect to the collection, use, and disclosure of personal information in connection with Wantoo.io (the "Site"). This Privacy Policy may be updated by Wantoo giving reasonable notice of the revised terms (including by e-mail or by posting on the Site), and this Privacy Policy may be supplemented or modified by agreements entered into between Wantoo and an individual from time to time. In this Privacy Policy, "personal information" means any information about an identifiable individual, as further defined under applicable Canadian laws.</p>
		<br>
		<h2 style="text-align:left;">Collection and Use of Personal Information</h2>

		<p>Wantoo collects personal information from you when you subscribe for services or products, and may from time to time collect additional personal information in the course of providing such products and services. Wantoo uses such personal information as is reasonably required to process your registration for the Site and to provide services and products to you.</p>

		<p>Contact information that you provide to Wantoo may be used to contact you in connection with the Site. For example, depending on which services you have subscribed to and which privacy preferences you have indicated to Wantoo, we may use your contact information to provide periodic newsletters or to provide notices regarding changes to the Site or regarding new services or products.</p>

		<p>This Site allows you to publish personal information about yourself and others, including videos and photos. By publishing your personal information on such pages, you consent to the publication of such personal information. By publishing personal information about another individual, you represent that you have, where required by applicable privacy laws, obtained the consent of such individuals to publish such information.</p>

		<p>Wantoo collects demographic and profile data in connection with the Site and uses such data to tailor each visitor's experience at the Site, showing the user content in which Wantoo thinks you might be interested, and displaying the content according to your preferences.</p>

		<p>Wantoo may use customer information for additional purposes that may be identified at or before the time that the information is collected.</p>

		<br>
		<h2 style="text-align:left;">Disclosure of Personal Information</h2>
		<p>Wantoo may disclose personal information as follows:
		to third party service providers and to affiliated entities in order to carry out work on behalf of Wantoo, to law enforcement agencies for the purposes of investigating fraud or other offences, to legal, financial, insurance, and other advisors or in connection with the sale, reorganization, or management of all or part of its business or operations, and as consented to by you from time to time, including to fulfill any other purposes that are identified when the personal information is collected.</p>

		<p>Wantoo will not use or disclose personal information for purposes other than those for which it was collected, except with your consent or as required or permitted by law.</p>

		<br>
		<h2 style="text-align:left;">Cookies and IP Addresses</h2>

		<p>Wantoo uses your IP address to help identify you and your subscription, gather broad demographic information about our users, diagnose problems with our systems, and administer the Site. The Site is entitled to use cookies to deliver content specific to your interests, according to your preferences, and to save your password so that you are not required to re-enter it while you use the Site.</p>

		<br>
		<h2 style="text-align:left;">Links</h2>
		<p>The Site contains links to other websites. Wantoo is not responsible for the privacy practices or the content of such websites. Please ensure you review the privacy policies of the websites that you visit.</p>

		<br>
		<h2 style="text-align:left;">Security</h2>
		<p>Wantoo protects against the loss, misuse, and alteration of personal information with security measures appropriate to the sensitivity of the information. However, it is possible that any information transmitted via the Internet may be intercepted by unknown third parties.</p>

		<br>
		<h2 style="text-align:left;">Opt-Out</h2>
		<p>When appropriate, users of the Site are given the opportunity to (i) opt-out of receiving communications from us, (ii) remove their personal information from our records, or (iii) elect to no longer receive services from us. If you wish to opt-out of receiving further communications, please contact Wantoo's privacy officer (the "Privacy Officer") by email or phone using the contact information provided below.</p>

		<br>
		<h2 style="text-align:left;">Corrections/Contact</h2>
		<p>You may contact the Privacy Officer to modify or correct any of their personal information that is under our control. You may also direct a written complaint regarding compliance with this Privacy Policy to the Privacy Officer and, within a reasonable time upon receiving the written complaint, the Privacy Officer will conduct an investigation into the matter. Within a reasonable time of concluding the investigation, the Privacy Officer will inform you whether the complaint will be allowed or denied. If the Privacy Officer allows the complaint, Wantoo will take appropriate measure necessary to rectify the source of the complaint.</p>

		<br>
		<h2 style="text-align:left;">Contact Us</h2>
		<p>If you have any questions about this Privacy Policy, Wantoo's privacy practices in connection with this Site, or Wantoo's collection, use, disclosure, or retention of your personal information in connection with this Site, please contact the Privacy Officer as follows: Privacy Officer c/o Wantoo Technologies Inc. By email: hello@wantoo.io</p>
	</div>
</section>


{% endblock content %}
