{% extends "landing/base.html" %}

{% block content %}

<section class="l-section l-section--white l-section--team l-section--border">
	<div class="l-section__inner l-section__gutter l-section__nospace">
		<div class="m-team">
			<h2 class="m-team__title">Our Story</h2>
			<div class="m-teamContainer">
				<div class="m-team__box">
					<p class="m-team__blurb">The Wantoo team is made up of seasoned industry veterans with decades of experience. We have made careers out of championing ideas and bringing them to fruition. We come from various industries, with backgrounds in product development, UX, editorial management, and entrepreneurship to this, our labor of love.</p>
				</div>
				<div class="m-team__box">
					<p class="m-team__blurb">We’ve worked in every sort of team environment, from cube farms to agile startups. We’ve learned to listen, collaborate, and ideate to bring about change big and small. We bring our passion for practical innovation out into the world, balancing deep knowledge with enough reckless immaturity to bring about proper disruption. </p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="l-section l-section--white l-section--team">
	<div class="l-section__inner l-section__gutter">
			<h2 class="m-team__title">Management Team</h2>
			<div class="l-teamMembers">
				<div class="l-teamMembers__col">
					<div class="m-teamMember">
						<img src="/static/landingpage/img/headshots/mt.jpg" alt="" class="m-teamMember__pic">
						<p class="m-teamMember__name">Michael Tippett</p>
						<p class="m-teamMember__role">Founder &amp; CEO</p>
						<ul class="m-smallSocialList m-teamMember__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://ca.linkedin.com/in/michaeltippett"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/mtippett"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--medium">
								<a target="_blank" href="https://medium.com/@mtippett"><img src="/static/landingpage/img/icon_medium_pink.png" alt=""></a>
							</li>
						</ul>
						<p class="m-teamMember__blurb">A two-time Emmy nominee, Mike has over 20 years of successful international startup experience. He co-founded Afternic, NowPublic, and GrowLab. He recently ran Hootsuite Labs as Director of New Products. Mike is active in the Vancouver tech scene, guiding companies in transition and mentoring young entrepreneurs.</p>
					</div>
				</div>
				<div class="l-teamMembers__col">
					<div class="m-teamMember">
						<img src="/static/landingpage/img/headshots/dh.jpg" alt="" class="m-teamMember__pic">
						<p class="m-teamMember__name">Dave Humphrey</p>
						<p class="m-teamMember__role">Chief Product Officer</p>
						<ul class="m-smallSocialList m-teamMember__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://ca.linkedin.com/in/dbhumphrey"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/dbhumphrey"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--medium">
								<a target="_blank" href="https://medium.com/@dbhumphrey"><img src="/static/landingpage/img/icon_medium_pink.png" alt=""></a>
							</li>
						</ul>
						<p class="m-teamMember__blurb">Deep experience in design- and engineering team management, with close connections to Canada's design community. Managed product teams at Jostle and built things at Bruce Mau Design. Agency clients include CIBC, Cadbury, Wal-Mart, HP, Purina, Rogers. and Canada Post. President of Emily Carr University Alumni Association.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="board" class="l-section l-section--white l-section--advisors">
	<div class="l-section__inner l-section__gutter">
		<div class="m-advisors">
			<h2 class="m-advisors__title">Board of Advisors</h2>
		<div class="l-advisors">
			<div class="l-advisors__row">
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/kim_kaplan.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Kim Kaplan</p>
						<p class="m-advisor__role">VP Product &amp; Revenue Optimization,<br>Plentyoffish.com</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/kimberlykaplan"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/ron_burnett.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Ron Burnett</p>
						<p class="m-advisor__role">President and Vice-Chancellor,<br>ECUAD</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/ron-burnett-9a22043"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/ronburnett"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/kul_wadhwa.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Kul Wadhwa</p>
						<p class="m-advisor__role">Head of Mobile,<br>Wikipedia</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/kulwadhwa"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/thekulway"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/stewart_butterfield.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Stewart Butterfield</p>
						<p class="m-advisor__role">Founder &amp; CEO,<br>Slack</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/butterfield"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/stewart?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="l-advisors__row">
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/steve_h.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Steve Hnatiuk</p>
						<p class="m-advisor__role">Managing Partner &amp; Co-Founder,<br>Lighthouse Equity Partners</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/steve-hnatiuk-469a01"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/stevehnatiuk"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/keith_doyle.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Keith Doyle</p>
						<p class="m-advisor__role">Assistant Professor, Design + Dynamic Media,<br>ECUAD</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/keith-doyle-b4172316"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/andrew_reid.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Andrew Reid</p>
						<p class="m-advisor__role">Founder and President,<br>Vision Critical</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/andrewreid2"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/reidandrew"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="l-advisors__col">
					<div class="m-advisor">
						<img src="/static/landingpage/img/headshots/wilson_tang.jpg" alt="" class="m-advisor__pic">
						<p class="m-advisor__name">Wilson Tang</p>
						<p class="m-advisor__role">Studio Art Director,<br>Kabam</p>
						<ul class="m-smallSocialList m-advisor__social">
							<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/wilsontangdesign"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/wilsonjtang"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>



				<div class="l-advisors l-advisors--small">
					<div class="l-advisors__row">
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/kim_kaplan.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Kim Kaplan</p>
								<p class="m-advisor__role">VP Product &amp; Revenue Optimization,<br>Plentyoffish.com</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/kimberlykaplan"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/ron_burnett.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Ron Burnett</p>
								<p class="m-advisor__role">President and Vice-Chancellor,<br>ECUAD</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/ron-burnett-9a22043"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a href="https://twitter.com/ronburnett"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/kul_wadhwa.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Kul Wadhwa</p>
								<p class="m-advisor__role">Head of Mobile,<br>Wikipedia</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/kulwadhwa"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/thekulway"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/stewart_butterfield.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Stewart Butterfield</p>
								<p class="m-advisor__role">Founder &amp; CEO,<br>Slack</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/butterfield"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/stewart?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="l-advisors__row">
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/steve_h.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Steve Hnatiuk</p>
								<p class="m-advisor__role">Managing Partner &mp; Co-Founder,<br>Lighthouse Equity Partners</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/steve-hnatiuk-469a01"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/stevehnatiuk"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/keith_doyle.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Keith Doyle</p>
								<p class="m-advisor__role">Assistant Professor, Design + Dynamic Media,<br>ECUAD</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/keith-doyle-b4172316"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/andrew_reid.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Andrew Reid</p>
								<p class="m-advisor__role">Founder and President,<br>Vision Critical</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/andrewreid2"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/reidandrew"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
						<div class="l-advisors__col">
							<div class="m-advisor">
								<img src="/static/landingpage/img/headshots/wilson_tang.jpg" alt="" class="m-advisor__pic">
								<p class="m-advisor__name">Wilson Tang</p>
								<p class="m-advisor__role">Studio Art Director,<br>Kabam</p>
								<ul class="m-smallSocialList m-advisor__social">
									<li class="m-smallSocialList__item">
								<a target="_blank" href="https://www.linkedin.com/in/wilsontangdesign"><img src="/static/landingpage/img/icon_linkedin_pink.png" alt=""></a>
							</li>
							<li class="m-smallSocialList__item m-smallSocialList__item--twitter">
								<a target="_blank" href="https://twitter.com/wilsonjtang"><img src="/static/landingpage/img/icon_twitter_pink.png" alt=""></a>
							</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>

{% endblock content %}
